<aside class="sidebar collapse bg-white" id="mainSidebar">
    <div class="sidebar-header">
        <div class="sidebar-brand">
            <a href="#">
                <i class="fe fe-box"></i>
            </a>
        </div>
    </div>
    <div class="sidebar-body">
        <div class="list-group">
            <div class="list-group-item-container">
                <a href="#" class="list-group-item list-group-item-action active"><i class="fe fe-layers fa-lg"></i></a>
            </div>
            <div class="list-group-item-container">
                <a href="#" class="list-group-item list-group-item-action"><i class="fe fe-trending-up fa-lg"></i></a>
            </div>
            <div class="list-group-item-container">
                <a href="#" class="list-group-item list-group-item-action"><i class="fe fe-users fa-lg"></i></a>
            </div>
            <div class="list-group-item-container">
                <a href="#" class="list-group-item list-group-item-action"><i class="fe fe-send fa-lg"></i></a>
            </div>
            <div class="list-group-item-container">
                <a href="#" class="list-group-item list-group-item-action"><i class="fe fe-tag fa-lg"></i></a>
            </div>
            <div class="list-group-item-container">
                <a href="#" class="list-group-item list-group-item-action"><i class="fe fe-shopping-bag fa-lg"></i></a>
            </div>
            <div class="list-group-item-container">
                <a href="#" class="list-group-item list-group-item-action"><i class="fe fe-file fa-lg"></i></a>
            </div>
            <div class="list-group-item-container">
                <a href="#" class="list-group-item list-group-item-action"><i class="fe fe-list fa-lg"></i></a>
            </div>
            <div class="list-group-item-container">
                <a href="#" class="list-group-item list-group-item-action"><i class="fe fe-sliders fa-lg"></i></a>
            </div>
            <div class="list-group-item-container">
                <a href="#" class="list-group-item list-group-item-action"><i class="fe fe-settings fa-lg"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-footer">
    
    </div>
</aside>